.footer{
    
    padding:  30px 4%;
    margin: 0 auto;
    background-color: #252641;
    color: white;
    cursor: pointer;
    
}
.footer-headers{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 40px 0;
    
}
.footer ul{
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
 
}