apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-depl
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: course
  template:
    metadata:
      labels:
        app: course
    spec:
      containers:
        - name: course
          image: pkansif/eduhub-course:latest
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: course-service-secrets
---
apiVersion: v1
kind: Service
metadata:
  name: course-srv
spec: 
  selector:
    app: course
  ports:
    - name: course
      protocol: TCP
      port: 3002
      targetPort: 3002
