*{
    margin: 0;
    outline: none;
}

.instructor-log{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(136, 172, 219);
}
  
.instructor-join{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    background: rgb(15, 162, 162);
}
.login-input{
    border: 1px solid rgb(39, 37, 200);
}
.button-join{
  width: 50%;
  border: none;
  color: rgb(242, 244, 244);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  margin: 50px 0 0 50px;
  padding: 10px;
  background:rgb(124, 124, 223);
}