.profile-navbar{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    background: #8edcdd;
    text-align: center;
    height: 45px;
    padding: 10px;
    border-radius: 25px;
}
.profile-navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-decoration: none;
}
.profile-navbar ul li{
    list-style: none;

}
.profile-navbar ul li a{
    text-decoration: none;
    color: aliceblue;
}
