name: Deployment-profile

on:
  push:
    branches:
      - master
    paths:
      - 'profile/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
         submodules: false

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login Docker Hub 
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
     
      - name: Build image 
        run: cd auth && docker build -t ${{secrets.DOCKER_USERNAME}}/eduhub-auth:${{github.sha}} .

      - name: Push Docker image 
        run: docker push ${{secrets.DOCKER_USERNAME}}/eduhub-auth:${{github.sha}}
        
      - name: Update kubeconfig for EKS
        run: |
          aws eks update-kubeconfig \
            --name ${{ secrets.EKS_CLUSTER_NAME }} \
            --region ${{ secrets.AWS_REGION }}
            
      - name: Update deployment image
        run: |
          kubectl set image deployment/auth-depl \
            auth=${{ secrets.DOCKER_USERNAME }}/eduhub-auth:${{ github.sha }}


